{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_app/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius accusantium quia consectetur ipsum soluta inventore ad suscipit illum natus ratione consequatur praesentium libero culpa, quo, asperiores, porro quasi? Est, pariatur.</h2>
</body>
</html>